In [1]:
import pandas as pd
# raw_data = pd.read_excel('/Users/gautamborgohain/Desktop/DATA/data_new.xlsx')
raw_data = pd.read_excel('/Users/gautamborgohain/Desktop/SA Files/data_labelled_2.xlsx')

import processing

new_df = processing.removeBadTweets(raw_data)

Completed, Bad count =  1
    User Handle                                              Tweet  \
1  unknownguy95  going home to exercise man! (@ tampines mrt st...
2    boyshawn89  it's really shagged. (@ lakeside mrt station (...
3  unknownguy95  that was quick (@ tampines mrt station (ew2/dt...
4  unknownguy95  going to tamp to catch a movie w my mum! (@ pa...
5      wolevilc  ............... (@ dover mrt station (ew22) - ...

   ReTweet Count In Reply To                      Created At            ID  \
1              0         NaN  Sat Jan 09 08:24:12 +0000 2016  6.857388e+17
2              0         NaN  Sat Jan 09 06:35:22 +0000 2016  6.857114e+17
3              0         NaN  Sat Jan 09 05:14:10 +0000 2016  6.856910e+17
4              0         NaN  Sat Jan 09 05:06:24 +0000 2016  6.856891e+17
5              0         NaN  Sat Jan 09 03:01:32 +0000 2016  6.856576e+17

                       Place Language  Sentiment_SVM
1     East Region, Singapore       en              0
2     West Region, Singapore       en              2
3     East Region, Singapore       en              1
4     East Region, Singapore       en              1
5  Central Region, Singapore       en              0

In [2]:
sub = new_df[1:10]

processed = processing.getCountVector(sub)

In [7]:
processed.head()

,about,airpo,amp,are,botanic,cabin,catch,cc,city,damn,...,NNS,PRP,RB,TO,VB,VBD,VBG,VBN,VBP,VBZ
0,0,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,1,0,2,2,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,0,1,0,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0

In [4]:
posdf = processing.getPOStagfeatures(sub)
posdf.head()

Tagging tweet 1
Tagging tweet

 2
Tagging tweet

 3
Tagging tweet

 4
Tagging tweet

 5
Tagging tweet

 6
Tagging tweet

 7
Tagging tweet

 8
Tagging tweet

 9
Completed POS tagging

,CC,CD,DT,IN,JJ,NN,NNS,PRP,RB,TO,VB,VBD,VBG,VBN,VBP,VBZ
0,0,0,0,1,2,4,0,1,2,0,0,0,0,1,0,1
1,0,0,1,1,2,4,1,0,0,0,0,1,0,1,0,0
2,0,0,1,1,1,10,0,1,0,2,2,0,1,0,0,0
3,0,0,0,1,1,4,0,0,1,0,1,0,0,0,0,0
4,0,0,1,1,2,6,1,0,0,0,0,0,0,0,1,0

In [ ]:
processed = processed.join(posdf)

In [8]:
processed.head()

,about,airpo,amp,are,botanic,cabin,catch,cc,city,damn,...,NNS,PRP,RB,TO,VB,VBD,VBG,VBN,VBP,VBZ
0,0,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,1,0,2,2,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
4,0,1,0,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0

In [9]:
subjframe = processing.getSubjectvityfeatures(sub)

Performing subjectivity analysis of Tweet  1
Performing subjectivity analysis of Tweet  2
Performing subjectivity analysis of Tweet

 3
Performing subjectivity analysis of Tweet  4
Performing subjectivity analysis of Tweet

 5
Performing subjectivity analysis of Tweet  6
Performing subjectivity analysis of Tweet  7
Performing subjectivity analysis of Tweet  8
Have to tag POS, Hold On!

Performing subjectivity analysis of Tweet

 9
Completed Subjective Analysis

In [10]:
processed = processed.join(subjframe)

In [11]:
targetframe = processing.target_features(sub)

['mrt_i mrt_@ mrt_n mrt_u mrt_u', 'mrt_s mrt_n mrt_/ mrt_u mrt_u', 'mrt_t mrt_  mrt_  mrt_u mrt_@ mrt_n mrt_u mrt_u', 'mrt_@ mrt_n mrt_u mrt_u', 'mrt_i mrt_  mrt_@ mrt_n mrt_n mrt_c mrt_u mrt_u mrt_u', '', '', '', '']
['mrt_', 'mrt_c', 'mrt_i', 'mrt_n', 'mrt_s', 'mrt_t', 'mrt_u']